// .cursor {
//   width: 15px;
//   height: 15px;
//   border-radius: 15px;
//   background: #fb3589;
//   position: fixed;
//   pointer-events: none;
//   z-index: 2000;
// }

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 2000;
  will-change: transform;
  z-index: 2000;
}

.cursor-border {
  position: absolute;
  align-items: center;
  border: 1px solid #fb3589;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  left: 0;
  top: 0;
  transform: translate(-40%, -40%);
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}

.cursor .text {
  font-family: "Switzer";
}
