.fifth-bubble-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 100vh;
  width: 100%;
  padding-top: 0;
  // padding-bottom: 400vh;
  img {
    width: 30%;
    z-index: 900;
  }
  .fifth-bubble-weird {
    position: absolute;
    top: 35vh;
    opacity: 0;
  }
  .fifth-bubble-daughter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 15vh;
  }
  .fifth-bubble-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 25vh;
    opacity: 0;
    img:nth-child(1) {
      padding-bottom: 30vh;
      transform: rotate(-5deg);
    }
    img:nth-child(2) {
      padding-top: 10vh;
    }
  }
}

.fifth-scene-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .fifth-text {
    opacity: 0;
    font-size: 32px;
    z-index: 200;
  }
}
