.fifth-bubble-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 100vh;
  width: 100%;
  padding-top: 0;
  img {
    width: 30%;
  }
  .fifth-bubble-daughter {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .fifth-bubble-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.fifth-scene-container {
  padding-top: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fifth-text {
    opacity: 0;
    font-size: 32px;
    z-index: 200;
    padding-bottom: 100vh;
  }
}
