.fifth-bubble-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 100vh;
  width: 100%;
  padding-top: 0;
  padding-bottom: 400vh;
  img {
    width: 30%;
  }
  .fifth-bubble-weird {
    padding-top: 35vh;
    opacity: 0;
  }
  .fifth-bubble-daughter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    height: 100vh;
  }
  .fifth-bubble-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    height: 100vh;
    img:nth-child(1) {
      padding-bottom: 30vh;
      transform: rotate(-5deg);
    }
    img:nth-child(2) {
      padding-top: 10vh;
    }
  }
}

.fifth-scene-container {
  padding-top: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fifth-text {
    opacity: 0;
    font-size: 32px;
    z-index: 200;
    padding-bottom: 100vh;
  }
}
