footer {
  display: flex;
  width: 100vw;
  height: 409px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  gap: 268px;
  flex-shrink: 0;
  background: #fb3589;
  color: #e8fff9;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 37px;
}
