.fourth-parallax-item {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
  }
}

.fourth-scene-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120vh;
  width: 100%;
  .fourth-text {
    font-size: 32px;
    z-index: 200;
  }
}
