.fourth-parallax-item {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
  }
  img :nth-child(4) {
    bottom: -500px;
  }
}

.fourth-scene-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .fourth-text {
    opacity: 0;
    font-size: 32px;
    z-index: 200;
    padding-bottom: 50vw;
  }
}
