.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-bg {
  // position: fixed;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 70vh;
  inset: 0;
  object-fit: cover;
  z-index: 902;
}
.hero-cave {
  // position: fixed;
  position: absolute;
  width: 100%;
  height: 100vh;
  inset: 0;
  transform-origin: center;
  object-fit: cover;
  scale: 100%;
  will-change: transform;
  z-index: 903;
}
.hero-logo {
  position: absolute;
  top: 20%;
  left: 7%;
  z-index: 901;
  color: #fb3589;
  font-family: "Martian Mono";
  font-size: 96px;
  font-weight: 500;
  line-height: 123.7%; /* 118.752px */
  letter-spacing: -1.92px;
  text-transform: uppercase;
}
