.purchase-wrapper {
  padding: 0 56px;
  height: 100vh;
}

.purchase-container {
  position: relative;
  height: 100vh;
}

.purchase-title {
  height: 90vh;
  position: absolute;
  z-index: -1;
  bottom: -7px;
}

.purchase-infos {
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding-left: 400px;
  padding-top: 530px;
  .purchase-autors {
    font-weight: 700;
  }
}

.purchase-album-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 200;
  right: 0;
  bottom: 0;
}

.purchase-album {
  position: relative;
  flex-direction: column;
  width: 450px;
  height: 62vh;

  .album {
    transform-style: preserve-3d;
    transform: perspective(10000px);
    position: absolute;
    display: flex;
  }
  .purchase-album-cover1 {
    width: 450px;
    transform: translateZ(10px);
  }
  .purchase-album-cover2 {
    position: fixed;
    width: 450px;
    transform: translateZ(20px);
    z-index: 2;
  }
  .purchase-album-cover3 {
    position: fixed;
    width: 450px;
    transform: translateZ(300px);
    z-index: 3;
  }
}

.purchase-cta {
  display: flex;
  padding: 27px 20px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
  position: relative;
  color: #fff;
  font-family: "Switzer Variable";
  font-size: 24px;
  border: 2px solid #fb3589;
  background: #fb3589;
  transform: translateY(90px);
  transition: 0.3s;
  text-decoration: none;
}

.purchase-cta-bg {
  z-index: -1;
  background-color: rgb(255, 255, 255);
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s;
}

.purchase-cta:hover {
  color: #fb3589;
  .purchase-cta-bg {
    width: 100%;
  }
}
