.seventh-scene-container {
  padding-top: 100vh;
  padding-bottom: 400vh;

  .seventh-scene-img {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
      opacity: 0;
    }
  }
}
