.sixth-parallax-emotions {
  position: relative;
  margin-top: 100vh;
  width: 100%;
  height: 400vh;
  img {
    width: 70%;
    position: absolute;
  }
  img:nth-child(1) {
    left: 10vw;
    top: 0;
  }
  img:nth-child(2) {
    right: 10vw;
    top: 15vh;
  }
  img:nth-child(3) {
    right: 19vw;
    top: 75vh;
  }
  img:nth-child(4) {
    left: 10vw;
    top: 80vh;
  }
  img:nth-child(5) {
    left: 15vw;
    top: 120vh;
  }
  img:nth-child(6) {
    right: 0;
    top: 175vh;
  }
  img:nth-child(7) {
    left: 10vw;
    top: 250vh;
  }
  img:nth-child(9) {
    right: 10vw;
    bottom: 50vh;
  }
  img:nth-child(8) {
    left: 0;
    bottom: 30vh;
  }
}
