.third-parallax-item {
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.third-scene-container {
  padding-top: 120vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 500px;
}
