.third-parallax-item {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .third-parallax-family {
    right: -20%;
  }

  .third-parallax-dad {
    left: -10%;
  }
}

.third-scene-container {
  padding-top: 120vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 500px;
}
