.third-parallax-item {
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    bottom: 0;
  }
}

.third-scene-container {
  padding-top: 800px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 500px;
  .third-text {
    font-size: 32px;
    z-index: 200;
  }
}
