* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Switzer";
  color: #fb3589;
  // background-color: rgb(207, 255, 245);
}

a {
  font-size: 16px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 3.5px;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}
