* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Switzer";
  color: #fb3589;
  // scroll-behavior: smooth;
  // background-color: rgb(207, 255, 245);
}

a {
  font-size: 16px;
}
