@font-face {
  font-family: "Switzer";
  src: url("../font/Switzer-Regular.woff2") format("woff2"),
    url("../font/Switzer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Switzer";
  src: url("../font/Switzer-Regular.woff2") format("woff2"),
    url("../font/Switzer-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
